<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:type="feature"
        android:name="login"
        dist:title="@string/feature_login_title"
        dist:instant="false">

        <dist:delivery>
            <dist:on-demand/>
        </dist:delivery>

        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>
</manifest>
