<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="Manifest.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".AxixApp"
        android:icon="@mipmap/ic_launcher"
        android:label="PluginQuickStart" android:allowBackup="true"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".main.MainActivity" android:exported="true"
            tools:targetApi="28"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.redwolf.plugin_api.core.PluginProxyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"
            android:launchMode="standard"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|screenLayout|smallestScreenSize"/>
    </application>
</manifest>